.blog-card {
  margin: 50px 0;
}

:root {
  --nc-lk-1: #045de9;
  --nc-lk-2: #2c69d1;
}

body {
  background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181818;
  }
}

.blog-card > a {
  font-size: x-large;
}
.tags-container {
}

.tags-container > a {
  word-break: break-all;
  white-space: nowrap;
  font-size: 22px;
  padding: 15px 5px;
  border-radius: 10px;
  margin-right: 20px;
}
